.box {

    max-height: 500px;
    max-width: 500px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: left;
    position: fixed;
  }

  .text {
    align-self: flex-end;
  }

  .container {
    margin-left: 50px;

  }
